$whiteColor: #fff;
$defaultBold: 700;

body {
  padding-top: 50px;
}

.redBorder {
  border: 1px solid red;
}

.redSmallText {
  color: red;
  font-size: 10px;
  margin-left: 10px;
}

.marginTopBottom {
  margin: 10px 0;
}

.marginLeftRight {
  margin: 0 10px;
}

.noPadding {
  padding: 0;
}

.fullPage {
  width: 100vw;
  height: 100vh;
}

.noUnderline:hover {
  text-decoration: none;
}

.width100p {
  width: 100%;
}

.activeButton {
  min-width: 75px;
  text-align: center;
}

.activeButton:active {
  background-color: black;
}

.formContainer {
  height: 450px;
  width: 400px;
  background-color: lightgray;
}

.inputHalfContainer {
  width: 48%;
  margin-right: 2%;
}

.inputContainer {
  width: 100%;
}

// iphone 6 to ipad screen size
@media only screen and (min-width: 375px) and (max-width: 768px) {
  .width100p {
    width: 80%;
  }
}

// only iphone 5 size
@media only screen and (min-width: 329px) and (max-width: 374px) {
}
